{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <form method="post">
        <h1>Login</h1>

        {% if error %}
            <p class="text-color danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
        {% endif %}

        {% if app.user %}
            <p class="text-color warning">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ logout_path() }}">Logout</a>
            </p>
        {% endif %}

        <label for="username">Email</label>
        <input type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required
               autofocus>
        <label for="password">Password</label>
        <input type="password" name="_password" id="password" autocomplete="current-password" required>
        <input type="hidden" name="_csrf_token" data-controller="csrf-protection"
               value="{{ csrf_token('authenticate') }}">

        <label for="_remember_me" class="margin-end-m">
            <input type="checkbox" name="_remember_me" id="_remember_me">
            Remember me
        </label>

        <button class="primary" type="submit">
            Sign in
        </button>
    </form>
{% endblock %}
