{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="description" content="A page listing all of Ryan Hendrickson's professional work experience.">
{% endblock %}

{% block title %}Experience{% endblock %}

{% block body %}
    <article>
        <h1>Experience</h1>

        <section>
            <h2>Employment History</h2>
            {% for job in jobs %}
                <h3 class="margin-end-4xs">{{ job.title }}</h3>
                <p class="margin-end-0">{{ job.employer }} - {{ job.employmentType.value }}</p>
                {% if job.endDate is not null %}
                    <p class="margin-end-0">{{ job.startDate|date('F Y') }} - {{ job.endDate|date('F Y') }}</p>
                {% else %}
                    <p class="margin-end-0">{{ job.startDate|date('F Y') }} - Present</p>
                {% endif %}
                <p class="margin-end-4xs">{{ job.location }}</p>
                <p>{{ job.description }}</p>
            {% endfor %}
        </section>
    </article>
{% endblock %}
